<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="div-input">
    <label id="label-nickname" for="input-nickname">닉네임: </label><input id="input-nickname" type="text">
    <button id="button-connect" onclick="submit()">채팅방 입장</button>
</div>
<div id="div-init">
    <ul id="ul-chat"></ul>
</div>
</body>
<script>
    let myNickName;
    const divInput = document.querySelector("#div-input");
    const ulChat = document.querySelector("#ul-chat");
    const ws = new WebSocket("ws://192.168.240.14:8000");
    ws.addEventListener("message", (event) => {
        // 데이터 받아서 파싱.
        let data = event.data;
        let parsedData = JSON.parse(data);
        // 파싱된 데이터 타입에 따라 알맞게 처리.
        switch (parsedData.type) {
            case "init":
                alert(`환영합니다, ${parsedData.nickname} 님!!!`);
                myNickName = parsedData.nickname;
                divInput.replaceChildren();
                const labelSendMessage = document.createElement("label");
                const inputSendMessage = document.createElement("input");
                const buttonSendMessage = document.createElement("button");
                inputSendMessage.setAttribute("id", "input-send-msg");
                labelSendMessage.setAttribute("id", "label-send-msg");
                buttonSendMessage.setAttribute("id", "button-send-msg");

                labelSendMessage.setAttribute("for", "input-send-msg");
                labelSendMessage.innerText = "메세지 입력: ";

                inputSendMessage.setAttribute("type", "text");

                buttonSendMessage.innerText = "전송";
                buttonSendMessage.onclick = sendMessage;

                divInput.appendChild(labelSendMessage);
                divInput.appendChild(inputSendMessage);
                divInput.appendChild(buttonSendMessage);
                break;
            case "new-chat":
                let liChat = document.createElement("li");
                liChat.textContent = `${parsedData.nickname} 님의 채팅: ${parsedData.content}`;
                ulChat.appendChild(liChat);
                break;
            default:
                // 여기에 예외처리...
                break;
        }

    });
    function sendMessage() {
        const inputSendMessage = document.querySelector("#input-send-msg");
        ws.send(JSON.stringify({ type: "send-chat", nickname: myNickName, content: inputSendMessage.value }));
        inputSendMessage.value = "";
    }
    function submit() {
        const inputNickname = document.querySelector("#input-nickname");
        ws.send(JSON.stringify({ type: "identify", nickname: inputNickname.value }));
    }
    window.addEventListener("visibilitychange", () => {
        if (myNickName) {
            if (document.hidden) {
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send(JSON.stringify({ type: "leave", nickname: myNickName }));
                }
            } else {
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send(JSON.stringify({ type: "join", nickname: myNickName }));
                }
            }
        }
    });
</script>
</html>