<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <link rel="stylesheet" href="../css/signup.css">
</head>
<body>
<main>
    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="skyblue" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M22 5.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.343 8.343 0 0 1-2.605.981A4.13 4.13 0 0 0 15.85 4a4.068 4.068 0 0 0-4.1 4.038c0 .31.035.618.105.919A11.705 11.705 0 0 1 3.4 4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 6.1 13.635a4.192 4.192 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 2 18.184 11.732 11.732 0 0 0 8.291 20 11.502 11.502 0 0 0 19.964 8.5c0-.177 0-.349-.012-.523A8.143 8.143 0 0 0 22 5.892Z" clip-rule="evenodd"/>
    </svg>
    <h2>회원 가입</h2>
    <form id="signup-form">
        <fieldset>
            <input type="text" id="userid" name="userid" placeholder="아이디" required>
        </fieldset>
        <div class="success-message hide"></div>
        <div class="failure-message hide"></div>
        <fieldset>
            <input type="text" id="username" name="username" placeholder="이름" required>
        </fieldset>
        <fieldset>
            <input type="password" id="password" name="password" placeholder="비밀번호" required>
        </fieldset>
        <div class="success-password hide"></div>
        <div class="failure-password hide"></div>
        <fieldset>
            <input type="password" id="password-retype" placeholder="비밀번호 확인" required>
        </fieldset>
        <div class="password-retype-message hide"></div>
        <fieldset>
            <input type="email" id="email" name="email" placeholder="이메일" required>
        </fieldset>
        <div class="email-message hide"></div>
        <fieldset class="signup">
            <button type="submit">가입하기</button>
        </fieldset>
    </form>
</main>
<script type="text/javascript" src="../js/signupPage.js"></script>
</body>
</html>
